.articleShow {
    animation-name: article-show-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.articleHidden {
    animation-name: article-hidden-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes article-show-animation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes article-hidden-animation {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}