.text {
    color: white;
    text-shadow: 1px 1px .1em #f7dd81, -1px -1px .1em #f7dd81, 1px -1px .1em #f7dd81, -1px 1px .1em #f7dd81;
    font-size: 1.7em;
    font-family: Cursive, serif;
}

@media screen and (max-width: 1500px) {
    .text {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 1200px) {
    .shinku {
        bottom: -20vh;
    }
}

@media screen and (max-width: 1000px) {
    .text {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 800px) {
    .text {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 1.1em;
    }
}
