.historyShow {
    animation-name: history-show-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.historyHidden {
    animation-name: history-hidden-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes history-show-animation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes history-hidden-animation {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}