.shinku {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1500px) {
    .shinku {
        bottom: -30vh;
    }
}

@media screen and (max-width: 1200px) {
    .shinku {
        bottom: -20vh;
    }
}

@media screen and (max-width: 1000px) {
    .shinku {
        bottom: -15vh;
    }
}

@media screen and (max-width: 800px) {
    .shinku {
        bottom: -10vh;
    }
}

@media screen and (max-width: 600px) {
    .shinku {
        bottom: -5vh;
    }
}
